<app-navbar></app-navbar>
<app-admin-sidebar></app-admin-sidebar>
<div class="main">       
            <div class="well">
                    <div class="card mb-4 use">
                            <div class="card-header text-center text-white" style="background-color: #343a40!important;">
                              <i class="fas fa-table"></i>
                              <h4>Employee List</h4>
                    </div>
                            <div class="card-body">
                              <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Email</th>
                                      <th>Date of Birth</th>
                                      <th>Address</th>
                                      <th>Phone</th>
                                      <th>Actions</th>
                                    </tr>
                                  </thead>
                                  <tfoot>
                                    <tr>
                                      <th>Name</th>
                                      <th>Email</th>
                                      <th>Date of Birth</th>
                                      <th>Address</th>
                                      <th>Phone</th>
                                      <th>Actions</th>
                                    </tr>
                                  </tfoot>
                                  
                                  <tbody>
                                    <tr *ngFor="let employee of employees">
                                      <td><br>{{ employee.fname }} {{ employee.lname }}</td>
                                      <td><br>{{ employee.email }}</td>
                                      <td><br>{{ employee.dob }}</td>
                                      <td><br>{{ employee.address }}</td>
                                      <td><br>{{ employee.phone }}</td>
                                      <td>
                                          <button class="btn btn-warning btn-sm btn-block" (click)="onDeleteClick(employee._id)">Delete</button>
                                          <button class="btn btn-secondary btn-sm btn-block" (click)="onViewClick(employee._id)">View attendance</button>
                                          <button class="btn btn-success btn-sm btn-block" (click)="onEditClick(employee)">Edit</button> 
                                          
                                     </td>
                                    </tr>
                                  </tbody>
                              </table>
                        </div>
                        </div>
                        </div>
                
                
            </div>
        
        </div>
     